@charset "utf-8";
/* CSS Document */
body{ background:#fff9c4;  }
.container { text-align:center; margin:50px auto; width:60%;  font-size:1.2em;}
.text{ background:#CFF; width:250px; height:30px; margin-top: 25px;}
#formsubmit{ height:36px; width:115px; vertical-align: bottom; border-radius:5px; color:#fff; font-size: 1em; background:#1c8eff;}
.fontcolor {
  color:red;
}

.change-color {
  color:red; font-weight:bold;
}


