@charset "utf-8";
/* CSS Document */
body{ background:#fff9c4;  }
.container { text-align:center; margin:50px auto; width:60%; font-size: 1.3em;}
.text{ background:#CFF; width:250px; height:30px; font-size:1em; margin-top: 25px;}
#formsubmit{ height:36px; width:115px; vertical-align: bottom; border-radius:5px; color:#fff; font-size: 1em; background:#1c8eff;}

