@charset "utf-8";
/* CSS Document */
body {
  font-family: sans-serif;
  background: #ffa000;
}
h2 {
  margin: 5px 0;
}
#container {
  width: 800px;
  margin: 50px auto;
  background: white;
  padding: 0;
  border-radius:15px 15px 0 0;
 
}
#survey{ padding:25px;}
.toparea{ background: #DCEDC8; border-radius: 15px 15px 0 0; padding: 20px; }
.toparea h1{ margin:0;}
#container h1, h2{ text-align:center; color:#1963ad;}

input {
  margin: 5px 10px;
}
button {
  font-size: 18px;
  padding: 10px;
  margin: 20px auto;
  color: white;
  border: 0;
  border-radius: 5px;
  border-bottom: 3px solid #333;
}
#submit {
  background: #1963ad;
}
#reset {
  background: #ff6f00;
}
#answers {
  border: 1px dashed #ccc;
  background: #eee;
  padding:25px;
}
#blocked{ display:block;}